
*.xccheckout

*.xcworkspacedata

*.xcworkspacedata

TravisTest/TravisTest.xcodeproj/project.xcworkspace/contents.xcworkspacedata

*.xcscheme

TravisTest/TravisTest.xcodeproj/xcuserdata/basantsarda.xcuserdatad/xcschemes/TravisTest.xcscheme

TravisTest/TravisTest.xcodeproj/project.xcworkspace/xcuserdata/basantsarda.xcuserdatad/UserInterfaceState.xcuserstate

TravisTest/TravisTest.xcodeproj/xcuserdata/basantsarda.xcuserdatad/xcschemes/xcschememanagement.plist

TravisTest/TravisTest.xcodeproj/project.xcworkspace/xcuserdata/basantsarda.xcuserdatad/UserInterfaceState.xcuserstate

TravisTest/TravisTest.xcodeproj/project.xcworkspace/xcuserdata/basantsarda.xcuserdatad/UserInterfaceState.xcuserstate

TravisTest/TravisTest.xcodeproj/project.xcworkspace/xcuserdata/basantsarda.xcuserdatad/UserInterfaceState.xcuserstate
